In [1]:
import pandas as pd
import seaborn as sns # For plotting
import matplotlib.pyplot as plt # For showing plots

In [9]:
df = pd.read_csv('INE_entire_database.csv', sep=",")
df.head()

,NutsID,DICOFRE,region_name,year,edu_none,edu_basic,edu_secondary,edu_superior,labour_family,labour_holder,...,olive_area,vineyards_area,other_permanent_crop_area,fresh_fruit_holdings,citrus_holdings,fruit_holdings,nuts_holdings,olive_holdings,vineyard_holdings,other_permanent_crop_holdings
0,111160101,160101,Aboim das ChoÃ§as,2019,15,61,11,7,34,15,...,0,12,0,0,1,0,1,0,32,0
1,111160101,160101,Aboim das ChoÃ§as,2009,30,57,4,4,50,24,...,0,9,0,0,0,0,0,0,29,0
2,111160101,160101,Aboim das ChoÃ§as,1999,49,73,7,6,62,26,...,0,14,0,0,0,0,0,0,40,0
3,111160101,160101,Aboim das ChoÃ§as,1989,167,97,4,0,163,70,...,0,28,0,0,0,0,0,1,84,0
4,111160102,160102,AguiÃ£,2019,24,68,5,2,70,38,...,1,15,0,0,0,0,0,2,39,0

In [11]:
# Definir el mapeo de NutsID a nombres de región
nuts_to_region = {
    '111': 'Norte',
    '1111': 'Alto Minho',
    '1112': 'Cávado',
    '1119': 'Ave',
    '11A': 'Área Metropolitana do Porto',
    '11B': 'Alto Tâmega',
    '11C': 'Tâmega e Sousa',
    '11D': 'Douro',
    '11E': 'Terras de Trás-os-Montes',
    '16B': 'Oeste',
    '16D': 'Região de Aveiro',
    '16E': 'Região de Coimbra',
    '16F': 'Região de Leiria',
    '16G': 'Viseu Dão Lafões',
    '16H': 'Beira Baixa',
    '16I': 'Médio Tejo',
    '16J': 'Beiras e Serra da Estrela'
}

# Crear una función para extraer los nombres de región de los códigos NutsID
def get_region_name(nutsid):
    # Extraer los primeros 4 caracteres del NutsID para el mapeo
    prefix = nutsid[:4]
    # Devolver el nombre de la región correspondiente
    return nuts_to_region.get(prefix, 'Unknown')

# Añadir una nueva columna al DataFrame con los nombres de región
df['Region'] = df['NutsID'].apply(get_region_name)

# Imprimir las primeras filas del DataFrame resultante
df.head()

,NutsID,DICOFRE,region_name,year,edu_none,edu_basic,edu_secondary,edu_superior,labour_family,labour_holder,...,vineyards_area,other_permanent_crop_area,fresh_fruit_holdings,citrus_holdings,fruit_holdings,nuts_holdings,olive_holdings,vineyard_holdings,other_permanent_crop_holdings,Region
0,111160101,160101,Aboim das ChoÃ§as,2019,15,61,11,7,34,15,...,12,0,0,1,0,1,0,32,0,Alto Minho
1,111160101,160101,Aboim das ChoÃ§as,2009,30,57,4,4,50,24,...,9,0,0,0,0,0,0,29,0,Alto Minho
2,111160101,160101,Aboim das ChoÃ§as,1999,49,73,7,6,62,26,...,14,0,0,0,0,0,0,40,0,Alto Minho
3,111160101,160101,Aboim das ChoÃ§as,1989,167,97,4,0,163,70,...,28,0,0,0,0,0,1,84,0,Alto Minho
4,111160102,160102,AguiÃ£,2019,24,68,5,2,70,38,...,15,0,0,0,0,0,2,39,0,Alto Minho